html {
  text-size-adjust: 100%;
}

body {
  margin: auto;
  color: #043248;
  background-color: #EBF9FF;
  font-family: Helvetica;
  width: 80%;
}

h1 {
  font-family: Helvetica;
  text-align: center;
}

p.p-center {
  text-align: center;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: currentColor;
}

/*@media (min-width: 768px) {
  nav ul {
    display: flex;
  }
}*/


.logo {
  width: 8em;
}

.search {
  width: 1em;
}

nav {
  margin: 0 auto;
  background: #3dc7df;
  max-width: 640px;
  font-family: Helvetica;
  padding: 1em;
}

nav li {
  font-size: 1.2em;
  list-style: none;
  padding: 0 0.25em;
}

section.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}

.left-gallery {
  flex-grow: 1;
  flex-direction: row;
}

.right-gallery {
  flex-grow: 1;
  flex-direction: column;
}

section img {
  padding: 5px;
}

footer {
  display: flex;
  /*flex-wrap: wrap;*/
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
}

footer section {
  flex: 1;
  padding: 15px;
}

section p {
  align-items: flex-start;
}
/*footer section.footer-section-right {
  flex: 1;
  padding: 15px;
}
